@reference "tailwindcss";
@reference "tailwindcss-primeui";

:host {
  ::ng-deep .p-breadcrumb-list {
    height: 100%;
    overflow-x: auto;
  }

  ::ng-deep .p-breadcrumb-item,
  ::ng-deep .p-breadcrumb,
  ::ng-deep .p-breadcrumb-home-item {
    padding: 0.2rem;
  }
}

@supports (scrollbar-width: auto) {
  ::ng-deep .p-breadcrumb-list {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary);
  }
}
