<main class="mx-(--crm-page-mx)">
  @let individualObj = individual();
  @let stateObj = state();

  @if (individualObj) {
    <crm-individual-update-dialog
      [model]="individualObj"
      [(visible)]="updateDialogOpened"
      (updated)="handleIndividualUpdate($event)"
    ></crm-individual-update-dialog>
  }

  <div class="flex flex-wrap justify-between gap-4">
    <h1 class="crm-heading-1 grow self-end">
      <crm-info-block-state [state]="stateObj">
        {{ individualObj | infoBlockFullname | infoBlockEmpty: 'Не удалось получить данные' }}
      </crm-info-block-state>
    </h1>

    <nav
      class="border-primary rounded-[calc(var(--p-button-border-radius)+var(--individual-card-nav-padding))] border p-(--individual-card-nav-padding) [--individual-card-nav-padding:--spacing(2)]"
      aria-label="Действия с физ. лицом"
    >
      <p-button
        icon="pi pi-user-edit"
        pTooltip="Редактировать"
        (onClick)="openUpdateDialog()"
      ></p-button>
    </nav>
  </div>

  <div class="individual-card-layout mt-2 grid grid-cols-1 gap-4">
    <p-card class="crm-card individual-card-main-info h-fit">
      <section aria-describedby="individual-card-general-info">
        <header class="mb-2 border-b">
          <h2 id="individual-card-general-info" class="crm-heading-2">Основная информация</h2>
        </header>

        <crm-info-block-state-wrapper [state]="stateObj">
          <dl class="grid grid-cols-1 gap-4">
            <div>
              <dt class="text-muted-color text-sm">Электронная почта</dt>
              <dd>
                <crm-info-block-state>
                  <a
                    class="crm-link break-all"
                    [attr.href]="individualObj?.email | infoBlockLink: 'mailto'"
                  >
                    {{ individualObj?.email | infoBlockEmpty }}
                  </a>
                </crm-info-block-state>
              </dd>
            </div>

            <div>
              <dt class="text-muted-color text-sm">Телефон</dt>
              <dd>
                <crm-info-block-state>
                  <a
                    class="crm-link break-all"
                    [attr.href]="individualObj?.phoneNumber | infoBlockLink: 'tel'"
                  >
                    {{ individualObj?.phoneNumber | infoBlockEmpty }}
                  </a>
                </crm-info-block-state>
              </dd>
            </div>

            <div>
              <dt class="text-muted-color text-sm">Дата рождения</dt>
              <dd>
                <crm-info-block-state>
                  <span>{{ individualObj?.birthdate | date: dateFormat | infoBlockEmpty }}</span>
                </crm-info-block-state>
              </dd>
            </div>
          </dl>
        </crm-info-block-state-wrapper>
      </section>
    </p-card>

    @if (individualObj) {
      <section aria-labelledby="individual-card-deals" class="individual-card-deals min-w-0">
        <header class="mb-2 border-b">
          <h2 id="individual-card-deals" class="crm-heading-2">Сделки</h2>
        </header>

        <crm-deals-registry
          [individualID]="individualObj.id"
          [useFullPageClass]="false"
          [stateSavingEnabled]="false"
        ></crm-deals-registry>
      </section>
    }
  </div>
</main>
