<p-contextmenu #cm [model]="contextMenu()"></p-contextmenu>
<p-table
  #dt
  class="crm-registry"
  selectionMode="single"
  currentPageReportTemplate="От {first} до {last} из {totalRecords}"
  [dataKey]="generalSettings().dataKey ?? 'id'"
  [ngClass]="{ 'crm-registry_full-page': useFullPageClass() }"
  [showCurrentPageReport]="true"
  [rows]="5"
  [rowHover]="true"
  [rowsPerPageOptions]="generalSettings().rowsPerPageOptions ?? [5, 10, 20]"
  [metaKeySelection]="false"
  [lazy]="true"
  [loading]="state().status === 'loading'"
  [value]="data().data"
  [columns]="columns()"
  [contextMenu]="contextMenu()?.length && cm"
  [stateKey]="stateSaving()?.key"
  [stateStorage]="stateSaving()?.storage ?? 'session'"
  [paginator]="true"
  [sortField]="$any(generalSettings().defaultSortField)"
  [totalRecords]="data().total"
  [(selection)]="selectedValue"
  [(contextMenuSelection)]="selectedValue"
  (onLazyLoad)="handleLazyLoad($event)"
  (onRowSelect)="handleDoubleClickOnRow($event)"
>
  <ng-template #caption>
    <span class="sr-only" [id]="tableCaptionActionsId">Действия таблицы</span>
    <p-toolbar [ariaLabelledBy]="tableCaptionActionsId">
      <ng-template #start>
        <div class="flex flex-wrap gap-2">
          <p-iconfield
            role="search"
            [ngClass]="{ hidden: !generalSettings().showSearch }"
            iconPosition="left"
          >
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              fluid
              pInputText
              type="search"
              [(ngModel)]="searchValue"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Поиск"
            />
          </p-iconfield>
          <p-button
            label="Очистить"
            icon="pi pi-filter-slash"
            [ngClass]="{ hidden: !generalSettings().showSearch && !areThereFilters() }"
            [outlined]="true"
            (click)="clear(dt)"
          />
        </div>
      </ng-template>
      <ng-template #end>
        <ul class="flex gap-2">
          @for (command of tableCommands(); track command) {
            <li>
              <crm-registry-command
                [command]="command"
                [selectedValue]="selectedValue()"
              ></crm-registry-command>
            </li>
          }
        </ul>
      </ng-template>
    </p-toolbar>
  </ng-template>
  <ng-template #header let-columns>
    <tr>
      @for (column of columns; track column) {
        <th [pSortableColumn]="column.field" [pSortableColumnDisabled]="column.disableSorting">
          <div class="flex gap-1">
            {{ column.header }}
            <p-sortIcon [ngClass]="{ hidden: column.disableSorting }" [field]="column.field" />
          </div>
        </th>
      }
    </tr>
    <tr [ngClass]="{ 'hidden': !areThereFilters() }">
      @for (column of columns; track column) {
        <th>
          <crm-registry-filter [column]="column"></crm-registry-filter>
        </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-item let-columns="columns">
    <tr [pSelectableRow]="item" [pContextMenuRow]="item">
      @for (column of columns; track column) {
        <td>
          <crm-registry-column [column]="column" [item]="item"></crm-registry-column>
        </td>
      }
    </tr>
  </ng-template>
  <ng-template #loadingbody let-columns="columns">
    @if (state().status === 'initial') {
      <tr>
        <td [colSpan]="columns?.length">
          <p-skeleton height="calc(1em * var(--crm-line-height))"></p-skeleton>
        </td>
      </tr>
    }
  </ng-template>
  <ng-template #emptymessage let-columns="columns">
    <tr>
      <td [colSpan]="columns?.length">Нет данных</td>
    </tr>
  </ng-template>
</p-table>
