@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@import './app/styles/normalize.css';

@custom-variant dark (&:where(.crm-dark, .crm-dark *));

@theme {
  --header-height: 3rem;
  --header-margin: 3rem;
}
