@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@import './shared/ui/breadcrumbs/breadcrumbs.css';
@import './widgets/registry/ui/registry/registry.css';

@custom-variant dark (&:where(.crm-dark, .crm-dark *));

@theme {
  --crm-max-w: var(--breakpoint-2xl);
}

:root {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;

  --crm-line-height: 1.5;
  line-height: var(--crm-line-height);

  @apply [--breakpoint-mobile:var(--breakpoint-sm)];
  @apply [--crm-page-mx:--spacing(2)] sm:[--crm-page-mx:--spacing(4)];
}

body {
  font-size: clamp(1rem, calc(0.2rem + 1vw), 2rem);
}

@utility content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer components {
  .crm-card {
    @apply border-primary border shadow-xl;
  }

  .crm-heading-1 {
    @apply font-semibold text-shadow-2xs;

    font-size: calc(1em * 1.3);
  }
}
