@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.crm-dark, .crm-dark *));

@theme {
  --header-height: 3rem;
}

@utility max-w-page {
  max-width: var(--breakpoint-xl);
}

:root {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
}

body {
  font-size: clamp(1rem, 0.2rem + 1vw, 2rem);
}

@layer components {
  .crm-page {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 4 / span 4;
  }
}
