@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@custom-variant dark (&:where(.crm-dark, .crm-dark *));

@theme {
  --crm-max-w: var(--breakpoint-2xl);
  --crm-page-mx: --spacing(4);
}

:root {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;

  --crm-line-height: 1.5;
  line-height: var(--crm-line-height);

  @apply [--breakpoint-mobile:var(--breakpoint-sm)];
}

body {
  font-size: clamp(1rem, calc(0.2rem + 1vw), 2rem);
}

@utility content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer components {
  .crm-card {
    @apply border-primary border shadow-xl;
  }
}
